@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Runic&display=swap");
@theme {
  --main: #ff6700;
}

body {
  color: #173a5e;
}

c .custom-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.5rem;
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%);
}

h1 {
  font-family: "Noto Sans Runic", sans-serif;
  font-style: normal;
}
