version: "3.9"
services:
  client:
    build: ./client
    ports:
      - "5173:5173"
    working_dir: /app
    command: npm run dev
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
  server:
    build: ./server
    container_name: workforce-server-1
    ports:
      - "8800:8800"
    command: npm run start
    volumes:
      - ./uploads:/app/uploads
    env_file:
      - ./server/.env
    depends_on:
      - mysql
  mysql:
    image: mysql:8.4
    restart: always
    container_name: workforce-mysql-1
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - workforce_mysql-data:/var/lib/mysql
  nginx:
    image: nginx:alpine
    container_name: workforce-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - client
      - server
    restart: unless-stopped

volumes:
  workforce_mysql-data:
    external: true
